nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-toggler {
  align-self: baseline;
}

.navbar-light a {
  color: #000000;
}

.navbar-brand {
  /* color: #FFFFFF; */
  font-family: 'adamas-regular';
  font-size: 250%;
  padding: 0;
}

.collapse {
  padding-bottom: 0.625rem;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a {
  color: #000000;
}

.abs {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 150%;
  z-index: -1;
}

/*xs*/
@media (max-width: 576px) {
  nav {
    z-index: 1;
    /* background-color: #000000; */
  }
}
