<nav class="navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">J</a>
  <span class="abs" style="color: #FFFFFF;">Job Tracker</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHeaderbarOut" aria-controls="navHeaderbarOut" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navHeaderbarOut">
    <div class="navbar-nav">
      <a class="nav-item nav-link disabled" aria-disabled="true">Demo</a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/">Sign Up</a>
    </div>
  </div>
</nav>
