.op-area {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0.25rem;
}

.form-group {
  margin-bottom: 0.25rem;
}

.add-applied {
  margin-bottom: 0.25rem;
}

.job-container {
  padding: 0;
}

.job {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  margin-right: 0;
  margin-left: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.more {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.more > .row {
  margin: 0;
}

.more > .row > p {
  margin-bottom: 0;
}

.validation-message {
  padding: 0;
}

.validation-message > .alert {
  border-radius: 0;
  margin-bottom: 0.25rem;
  padding: 0.25rem 1.25rem;
}
