<title>About | JobTrakMe</title>
<app-headerbar-out></app-headerbar-out>
<div class="content container-fluid" style="margin-top: 1rem;">
  <br>
  <div class="row justify-content-center">
    <h1 class="col-12">About</h1>
  </div>
  <div class="row">
    <h2 class="col-12">Mission</h2>
  </div>
  <div class="row">
    <p class="col-12">
      This website was created to make the job application easier and more organized. When you are applying for jobs you can organize them your way and track the information you need to track.
    </p>
  </div>
  <div class="row">
    <p class="col-12">
      Feel free to reach out with any feedback or suggestions that will make this website more useful to you.
    </p>
  </div>
  <div class="row">
    <h2 class="col-12">Contact Information</h2>
  </div>
  <div class="row email">
    <span class="col-12">jobtrakr.inquiries@gmail.com</span>
  </div>
</div>
