.svg-rect {
  fill: white;
}

/* .svg-rect-mask {
  fill: white;
} */

.svg-back {
  position: fixed;
  z-index: 0;
}

.content {
  color: #FFFFFF!important;
  top: 5%;
  position: fixed;
}

.content h2 {
  font-weight: 200;
}

.content h1 {
  font-weight: 200;
}

.content * {
  font-weight: 400;
}
