<div class="container-fluid area col-10 col-sm-8 col-lg-6">
  <a href="/">
    <div class="row logo justify-content-center">
      <h1 id="logoTitle" class="logo-title">J</h1>
    </div>
  </a>
  <div class="row action-area justify-content-center">
    <form class="col-12 col-sm-10">
      <div class="form-group">
        <input id="emailInput" type="email" class="form-control" placeholder="E-mail">
      </div>
      <div class="form-group">
        <input id="passwordInput" type="password" class="form-control" placeholder="Password">
      </div>
      <button routerLink="/" class="btn btn-outline-light col-12">Submit</button>
    </form>
  </div>
</div>
