::placeholder {
  /* color: #FFFFFF; */
  opacity: 0.65;
}

.paper-card {
  padding: 3rem!important;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 200;
  font-size: 400%;
}

.title {
  /* color: #FFFFFF; */
  text-align: center;
  transform: translateY(-50%);
  font-size: 300%;
}

.svg-back {
  position: fixed;
  z-index: 0;
}

.outer {
  margin: 0;
}

.logo-title {
  /* color: #FFFFFF; */
  font-family: 'adamas-regular';
  /* transform: translateY(22%); */
  margin-top: 10%;
  display: block;
}

.outer {
  height: 100%;
}

.form-control {
  border: 0;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  background-color: transparent;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-control:focus {
  box-shadow: -0.2rem 0 0 0 rgba(0,0,0,.25)
}

form > .form-group {
  margin-left: 0;
  margin-right: 0;
}

.home-title {
  /* color: #FFFFFF; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn {
  border-radius: 0;
}

@media (max-width: 576px) {
  .home-buttons>div {
    padding: 0.25em;
  }

  #logoTitle {
    font-size: 800%;
  }

  .logo-title {
    margin-top: 10%;
    position: relative;
  }

  .home-title {
    margin: 0;
  }

  .action-area {
    margin-top: 0%;
  }

  .svg-back {
    display: none;
  }
}

/*sm*/
@media (min-width: 576px) {
  .home-buttons>div {
    padding: 0.25em;
  }

  #logoTitle {
    font-size: 1000%;
  }

  .action-area {
    /* margin-top: 15%; */
  }
}

/*md*/
@media (min-width: 768px) {
  #logoTitle {
    font-size: 1000%;
  }

  .logo-title {
    margin-top: 20%;
    position: relative;
  }

  .action-area {
    /* margin-top: 20%; */
  }
}

/*lg*/
@media (min-width: 992px) {
  #logoTitle {
    font-size: 1000%;
  }

  .logo-title {
    margin-top: 27.5%;
    position: relative;
  }
}

/*xlg*/
@media (min-width: 1200px) {
  #logoTitle {
    font-size: 1250%;
  }

  .logo-title {
    margin-top: 15%;
    position: relative;
  }
}
