.jobtype-settings {
  /* border: 1px solid #000000; */
  position: fixed;
  z-index: 2;
  background: #FFFFFF;
  height: auto;
  width: 60%;
  right: 20%;
  top: 25%;
}

/* .jobtype-settings * {
  padding: 0.15rem;
} */

.pretty {
  margin-right: 0;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.submission-section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header > * {
  text-decoration: underline;
}

.background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.title {
  background-color: #000000;
  color: #FFFFFF;
}
