<div class="container" [@openClose]="state">
  <app-headerbar [name]="firstName + ' ' + lastName" [signedProfileImageUrl]="signedProfileImageUrl" *ngIf="signedProfileImageUrl"></app-headerbar>
  <!-- <div class="row">
    <h5 class="col-4">{{firstname}} {{lastname}}
      <a class="btn btn-sm btn-outline-info" (click)="settingsClicked()">settings</a>
    </h5>
    <button class="btn btn-outline-danger offset-6 col-2">Logout</button>
  </div> -->
  <app-jobtype *ngIf="user && job_type_view != 0" [user]="user" [jobType]="job_type_view"></app-jobtype>
  <div class="options row justify-content-end" *ngIf="!isSubComponentActive()">
    <a class="col-auto text-right" (click)="selectButtons()"><fa-icon [icon]="faBars" size="lg"></fa-icon></a>
    <a class="col-auto text-left" (click)="selectGrid()"><fa-icon [icon]="faTh" size="lg"></fa-icon></a>
  </div>
  <div class="buttons-section" *ngIf="!isSubComponentActive() && show_buttons">
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleOpportunitiesActive()">
        <span id="opportunitiesSpan">Opportunities</span>
      </button>
    </div>
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleAppliedActive()">
        <span id="appliedSpan">Applied</span>
      </button>
    </div>
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleInterviewsActive()">
        <span id="interviewsSpan">Interviews</span>
      </button>
    </div>
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleOffersActive()">
        <span id="offersSpan">Offers</span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid grid-view" *ngIf="!isSubComponentActive() && show_grid">
  <div class="row header text-center">
    <span class="col-3" id="opportunitiesSpanHeader"><a (click)="toggleOpportunitiesActive()">Opportunities</a></span>
    <span class="col-3" id="appliedSpanHeader"><a (click)="toggleAppliedActive()">Applied</a></span>
    <span class="col-3" id="interviewsSpanHeader"><a (click)="toggleInterviewsActive()">Interviews</a></span>
    <span class="col-3" id="offersSpanHeader"><a (click)="toggleOffersActive()">Offers</a></span>
  </div>
  <!-- <p>{{droppedData}}</p> -->
  <div class="row grid-items">
    <div id="opportunityDropArea" class="col-3"
      droppable
      [dropScope]="['applied', 'interview', 'offer']"
      [dragOverClass]="'drop-over-active-opportunities'"
      (onDrop)="onJobDrop($event)">
      <div class="row shadow-lg" *ngFor="let opp of opportunitiesObservable | async"
        draggable
        [dragClass]="'drag-over-active'"
        [dragScope]="'opportunity'"
        [dragData]="opp">
      <!-- <div class="row shadow-lg" *ngFor="let opp of opportunitiesArray" draggable [dragScope]="'opportunity'" [dragData]="opp"> -->
        <h5 class="col-12">{{opp.company_name}}</h5>
        <p class="col-12">{{opp.job_title}}</p>
        <small class="col-12 text-right">{{opp.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
    <div id="appliedDropArea" class="col-3"
      droppable
      [dropScope]="['opportunity', 'interview', 'offer']"
      [dragOverClass]="'drop-over-active-applied'"
      (onDrop)="onJobDrop($event)">
      <!-- <div class="row shadow-lg" *ngFor="let app of appliedArray" draggable [dragScope]="'applied'" [dragData]="app"> -->
      <div class="row shadow-lg" *ngFor="let app of appliedObservable | async"
        draggable
        [dragClass]="'drag-over-active'"
        [dragScope]="'applied'"
        [dragData]="app">
        <h5 class="col-12">{{app.company_name}}</h5>
        <p class="col-12">{{app.job_title}}</p>
        <small class="col-12 text-right">{{app.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
    <div id="interviewDropArea" class="col-3"
      droppable
      [dropScope]="['applied', 'opportunity', 'offer']"
      [dragOverClass]="'drop-over-active-interviews'"
      (onDrop)="onJobDrop($event)">
      <!-- <div class="row shadow-lg" *ngFor="let inter of interviewArray" draggable [dragClass]="'drag-over-active'" [dragScope]="'interview'" [dragData]="inter"> -->
      <div class="row shadow-lg" *ngFor="let inter of interviewObservable | async"
        draggable
        [dragClass]="'drag-over-active'"
        [dragScope]="'interview'"
        [dragData]="inter">
        <h5 class="col-12">{{inter.company_name}}</h5>
        <p class="col-12">{{inter.job_title}}</p>
        <small class="col-12 text-right">{{inter.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
    <div id="offerDropArea" class="col-3"
      droppable
      [dropScope]="['applied', 'interview', 'opportunity']"
      [dragOverClass]="'drop-over-active-offers'"
      (onDrop)="onJobDrop($event)">
      <!-- <div class="row shadow-lg" *ngFor="let off of offerArray" draggable [dragScope]="'offer'" [dragData]="off"> -->
      <div class="row shadow-lg" *ngFor="let off of offerObservable | async"
        draggable
        [dragClass]="'drag-over-active'"
        [dragScope]="'offer'"
        [dragData]="off">
        <h5 class="col-12">{{off.company_name}}</h5>
        <p class="col-12">{{off.job_title}}</p>
        <small class="col-12 text-right">{{off.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
  </div>
</div>
