.options > a {
  padding: 0.25rem;
}

.options > .text-right {
  border-right: 1px solid #000000;
}

.section-button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 100px;
}

.section-button > .btn {
  text-align: left;
  vertical-align: text-top;
  position: relative;
  align-items: flex-start;
  border: 0;
}

.section-button > .btn > span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 150%;
}

.section-button > .btn:hover > span {
  color: #000000!important;
  background: #FFFFFF;
  background-image: none!important;
  border: 1px solid #000000;
}

fa-icon {
  color: black;
}

#opportunitiesSpan {
  background-image: url('./../../assets/buttons/btn1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0% bottom 46%;
  height: 100px;
  width: inherit;
  color: #FFFFFF;
}

#appliedSpan {
  background-image: url('./../../assets/buttons/btn2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0% bottom 46%;
  height: 100px;
  width: inherit;
  color: #FFFFFF;
}

#interviewsSpan {
  background-image: url('./../../assets/buttons/btn3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0% bottom 0%;
  height: 100px;
  width: inherit;
  color: #FFFFFF;
}

#offersSpan {
  background-image: url('./../../assets/buttons/btn4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0% bottom 46%;
  height: 100px;
  width: inherit;
  color: #FFFFFF;
}

#opportunitiesSpanHeader {
  border-image-source: url('./../../assets/buttons/btn1.jpg');
}

#appliedSpanHeader {
  border-image-source: url('./../../assets/buttons/btn2.jpg');
}

#interviewsSpanHeader {
  border-image-source: url('./../../assets/buttons/btn3.jpg');
}

#offersSpanHeader {
  border-image-source: url('./../../assets/buttons/btn4.jpg');
}

.header {


}

.header > span {
  height: max-content!important;
  width: inherit;
  color: #000000;
  border-bottom: 1px solid #000000;
  border-image-slice: 5;
  border-image-width: 5;
  border-image-outset: 5;
  border-image-repeat: round;
  /* padding-left: 0.15rem;
  padding-right: 0.15rem; */
}

.grid-items {
  margin-top: 0.75rem;
}

.grid-items > .col-3 {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.grid-items > .col-3 > .row {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  /*height: 50%;*/
  background-color: #FFFFFF;
}

.grid-items > .col-3 > .row > * {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/*.border-left {
  border-left: solid 0.2rem #FFFFFF!important;
}*/

/*xs*/
@media (max-width: 576px) {
}

/*sm*/
@media (min-width: 576px) {
}

/*md*/
@media (min-width: 768px) {
}

/*lg*/
@media (min-width: 992px) {

}

/*xlg*/
@media (min-width: 1200px) { }

.drop-over-active {
  border: dashed 2px red;
  /*background-color: lightgreen;*/
}

.drag-active {
  z-index: 3;
}
