<div class="container">
  <app-headerbar [name]="firstname + ' ' + lastname"></app-headerbar>
  <!-- <div class="row">
    <h5 class="col-4">{{firstname}} {{lastname}}
      <a class="btn btn-sm btn-outline-info" (click)="settingsClicked()">settings</a>
    </h5>
    <button class="btn btn-outline-danger offset-6 col-2">Logout</button>
  </div> -->
  <app-opportunities *ngIf="opportunities_active && user" [user]="user"></app-opportunities>
  <app-applied *ngIf="applied_active && user" [user]="user"></app-applied>
  <app-interviews *ngIf="interviews_active && user" [user]="user"></app-interviews>
  <app-offers *ngIf="offers_active && user" [user]="user"></app-offers>
  <div class="options row justify-content-end" *ngIf="!isSubComponentActive()">
    <!-- <a class="offset-10 col-1 text-right">buttons</a>
    <a class="col-1 text-left">plan</a> -->
    <a class="col-auto text-right" (click)="selectButtons()"><fa-icon [icon]="faBars"></fa-icon></a>
    <a class="col-auto text-left" (click)="selectGrid()"><fa-icon [icon]="faTh"></fa-icon></a>
  </div>
  <div class="buttons-section" *ngIf="!isSubComponentActive() && show_buttons">
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleOpportunitiesActive()">
        <span id="opportunitiesSpan">Opportunities</span>
      </button>
    </div>
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleAppliedActive()">
        <span id="appliedSpan">Applied</span>
      </button>
    </div>
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleInterviewsActive()">
        <span id="interviewsSpan">Interviews</span>
      </button>
    </div>
    <div class="row section-button">
      <button class="btn col-12" (click)="toggleOffersActive()">
        <span id="offersSpan">Offers</span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid grid-view" *ngIf="!isSubComponentActive() && show_grid">
  <div class="row header text-center">
    <span class="col-3" id="opportunitiesSpanHeader">Opportunities</span>
    <span class="col-3" id="appliedSpanHeader">Applied</span>
    <span class="col-3" id="interviewsSpanHeader">Interviews</span>
    <span class="col-3" id="offersSpanHeader">Offers</span>
  </div>
  <!-- <p>{{droppedData}}</p> -->
  <div class="row grid-items">
    <div class="col-3" droppable [dropScope]="['applied', 'interview', 'offer']" [dragOverClass]="'drop-over-active'" (onDrop)="onJobDrop($event)">
      <div class="row shadow-lg" *ngFor="let opp of opportunitiesArray | async" draggable [dragScope]="'opportunity'" [dragData]="opp">
        <h5 class="col-12">{{opp.company_name}}</h5>
        <p class="col-12">{{opp.job_title}}</p>
        <small class="col-12 text-right">{{opp.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
    <div class="col-3" droppable [dropScope]="['opportunity', 'interview', 'offer']" [dragOverClass]="'drop-over-active'" (onDrop)="onJobDrop($event)">
      <div class="row shadow-lg" *ngFor="let app of appliedArray | async" draggable [dragScope]="'applied'" [dragData]="app">
        <h5 class="col-12">{{app.company_name}}</h5>
        <p class="col-12">{{app.job_title}}</p>
        <small class="col-12 text-right">{{app.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
    <div class="col-3" droppable [dropScope]="['applied', 'opportunity', 'offer']" [dragOverClass]="'drop-over-active'" (onDrop)="onJobDrop($event)">
      <div class="row shadow-lg" *ngFor="let inter of interviewArray | async" draggable [dragClass]="'drag-over-active'" [dragScope]="'interview'" [dragData]="inter">
        <h5 class="col-12">{{inter.company_name}}</h5>
        <p class="col-12">{{inter.job_title}}</p>
        <small class="col-12 text-right">{{inter.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
    <div class="col-3" droppable [dropScope]="['applied', 'interview', 'opportunity']" [dragOverClass]="'drop-over-active'" (onDrop)="onJobDrop($event)">
      <div class="row shadow-lg" *ngFor="let off of offerArray | async" draggable [dragScope]="'offer'" [dragData]="off">
        <h5 class="col-12">{{off.company_name}}</h5>
        <p class="col-12">{{off.job_title}}</p>
        <small class="col-12 text-right">{{off.create_datetime | date:'MM/dd/yy'}}</small>
      </div>
    </div>
  </div>
</div>
