<div class="row">
  <h5 class="col-11">
    Opportunities
  </h5>
  <a class="col-1 text-right" (click)="close()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</div>
<div class="row description">
  <p class="col-12">Add job opportunities that you are interested in.</p>
</div>
<div class="row">
  <div class="container op-area">
    <div class="row add-opportunities">
      <form [formGroup]="addOpportunityForm" class="col-12">
        <div class="form-group">
          <input type="text"/>
        </div>
      </form>
    </div>
    <div class="row">
      <p class="col-12">Hello</p>
    </div>
  </div>
</div>
