.settings {
  font-family: monospace;
}

.pretty {
  margin-right: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

form {
  margin-top: 1rem;
}

.submit {
  margin-top: 1rem;
}

.profile-image {
  height: 100px;
  width: 100px
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
