<div class="container">
  <app-headerbar [name]="user.first_name + ' ' + user.last_name" [signedProfileImageUrl]="userSignedProfileImageUrl" *ngIf="userSignedProfileImageUrl"></app-headerbar>
  <br>
  <div *ngIf="!profileUser" class="col-12 container does-not-exist">
    <h3>No user found.</h3>
  </div>
  <div *ngIf="profileUser" class="col-12 container info">
    <div class="row">
      <span class="col-4" style="padding: 0;">
        <img [src]="userLookupSignedProfileImageUrl" class="profile-image img-thumbnail rounded-0">
      </span>
      <div class="col-8 container">
        <div class="row">
          <h3 class="col-12">{{profileUser.first_name}} {{profileUser.last_name}}</h3>
        </div>
        <hr>
        <div style="margin-top: .5rem" class="row">
          <p class="col-12">{{profileUser.bio}}</p>
        </div>
        <div class="row">
          <button class="col-auto align-self-end btn btn-success btn-sm disabled">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="row" >
      <h4 class="col-12 job-header">Opportunities</h4>
      <div class="col-12 container">
        <div class="row job" *ngFor="let job of opportunitiesObservable | async">
          <span class="col-8">{{job.company_name}}
            <small> {{job.job_title}}</small>
          </span>
          <a class="col align-self-end text-right" href="{{job.link}}" target="_blank">
            <small>job posting</small>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="col-12 job-header">Applied</h4>
      <div class="col-12 container">
        <div class="row job" *ngFor="let job of appliedObservable | async">
          <span class="col-8">{{job.company_name}}
            <small> {{job.job_title}}</small>
          </span>
          <a class="col align-self-end text-right" href="{{job.link}}" target="_blank">
            <small>job posting</small>
          </a>
        </div>
      </div>
    </div>
    <div class="row" >
      <h4 class="col-12 job-header">Interviews</h4>
      <div class="col-12 container">
        <div class="row job" *ngFor="let job of interviewsObservable | async">
          <span class="col-8">{{job.company_name}}
            <small> {{job.job_title}}</small>
          </span>
          <a class="col align-self-end text-right" href="{{job.link}}" target="_blank">
            <small>job posting</small>
          </a>
        </div>
      </div>
    </div>
    <div class="row" >
      <h4 class="col-12 job-header">Offers</h4>
      <div class="col-12 container">
        <div class="row job" *ngFor="let job of offersObservable | async">
          <span class="col-8">{{job.company_name}}
            <small> {{job.job_title}}</small>
          </span>
          <a class="col align-self-end text-right" href="{{job.link}}" target="_blank">
            <small>job posting</small>
          </a>
        </div>
      </div>
    </div>
  <div class="col-12 container">
    <a routerLink='/profile/2'>/profile/2</a>
  </div>
</div>
