.title {
  /* color: #FFFFFF; */
  font-family: 'monospace';
  text-align: center;
  border-bottom: 1px solid #000000;
}

.section-button {
  margin: 0.5rem;
  height: 100px;
}

.section-button > .btn {
  text-align: left;
  vertical-align: text-top;
  position: relative;
  align-items: flex-start;
}

.section-button > .btn > span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

@media (max-width: 576px) {
}

/*sm*/
@media (min-width: 576px) {
}

/*md*/
@media (min-width: 768px) {
}

/*lg*/
@media (min-width: 992px) {

}

/*xlg*/
@media (min-width: 1200px) { }
