.btn {
  border-radius: 35px;
}

.job-header {
  text-decoration: underline;
  margin-top: 1rem;
}

.other-user {
  padding: 0.5rem;
}

.other-user:hover {
  /* background-color: rgba(50, 153, 204, 0.25); */
}

.btn-sm {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.other-users img {
  height: 25px;
  width: 25px;
}

.main-profile-image {
  border: 0;
}

/*xs*/
@media (max-width: 576px) {
  .user {
    padding: 0.25rem;
    background-color: rgba(50, 153, 204, 0.25);
    /* -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75); */
  }
}

/*sm*/
@media (min-width: 576px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }
}

/*md*/
@media (min-width: 768px) {
  .profile-image {
    width: 250px;
    height: 250px;
  }
}

/*lg*/
@media (min-width: 992px) {
  .profile-image {
    width: 320px;
    height: 320px;
  }
}

/*xlg*/
@media (min-width: 1200px) { }
