.attachment:hover {
  color: red!important;
  text-decoration: underline!important;
}

.edit:hover {
  color: var(--info)!important;
}

.remove:hover {
  color: var(--danger)!important;
}

.action-buttons {
  margin-bottom: 0.25rem;
}

.dropdown-item {
  text-transform: capitalize;
}

.dropdown {
  margin-bottom: 0.5rem;
}

.description {
  color: rgba(0,0,0,.5);
}

.poc-area .row > .form-control {
  height: 2rem;
  margin-bottom: 0.25rem;
}

hr {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.poc-form-group > .form-group > .form-control {
  height: 2rem;
}

.heading {
  padding: 0.5rem;
  text-decoration: underline;
}

.contact {
  font-size: 90%;
  padding-left: 1rem;
}

.detached-alert > .alert {
  border-radius: 0;
  /* background-color: rgb(248, 215, 218); */
  padding: 0.25rem;
  margin-bottom: 0;
}

.move:hover {
  color: var(--success)!important;
}

input[type="file"] {
  display: none;
}

.form-label {
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.form-label:hover {
  cursor: pointer
}

/*xs*/
@media (max-width: 576px) {
  .description {
    display: none;
  }

  .dropdown > button {
    width: 100%;
  }

  .move {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 2px;
    background-color: #6c757d;
    color: #FFFFFF!important;
    margin-bottom: 0.5rem;
  }

  .edit {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 2px;
    background-color: #ffc107;
  }

  .remove {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 2px;
    background-color: #dc3545;
  }
}

/*sm*/
@media (min-width: 576px) {
  .detached-alert {
    position: inherit;
  }
}

/*md*/
@media (min-width: 768px) {
}

/*lg*/
@media (min-width: 992px) {

}

/*xlg*/
@media (min-width: 1200px) { }
