.attachment:hover {
  color: red!important;
  text-decoration: underline!important;
}

.edit:hover {
  color: var(--info)!important;
}

.remove:hover {
  color: var(--danger)!important;
}

.action-buttons {
  margin-bottom: 0.25rem;
}

.dropdown-item {
  text-transform: capitalize;
}

.dropdown {
  margin-bottom: 0.5rem;
}

.description {
  color: rgba(0,0,0,.5);
}

.poc-area .row > .form-control {
  height: 2rem;
  margin-bottom: 0.25rem;
}

hr {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.poc-form-group > .form-group > .form-control {
  height: 2rem;
}

.heading {
  padding: 0.5rem;
  text-decoration: underline;
}

/*xs*/
@media (max-width: 576px) {
  .description {
    display: none;
  }

  .dropdown > button {
    width: 100%;
  }
}

/*sm*/
@media (min-width: 576px) {

}

/*md*/
@media (min-width: 768px) {
}

/*lg*/
@media (min-width: 992px) {

}

/*xlg*/
@media (min-width: 1200px) { }
