<app-settings *ngIf="displaySettings"
  [(displaySettings)]="displaySettings"
  [displaySettings]="displaySettings"
  [jobsObservable]="jobsObservable">
</app-settings>
<app-edit *ngIf="displayEdit"
  [(displayEdit)]="displayEdit"
  [displayEdit]="displayEdit"
  [(jobsArray)]="jobsArray"
  [jobsArray]="jobsArray"
  [job]="jobToEdit"
  [user]="user"></app-edit>
<div class="row">
  <h5 class="col-11">
    {{jobTypeMap[jobType].title}}
  </h5>
  <a class="col-1 text-right" (click)="close()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </a>
</div>
<div class="row description">
  <p class="col-12">{{jobTypeMap[jobType].description}}</p>
</div>
<div class="row action-buttons">
  <button class="col-11 mr-auto btn btn-outline-success add-opportunity" (click)="toggleAddForm()">Add</button>
  <button class="col-auto btn btn-outline-info" (click)="toggleSettings()"><fa-icon [icon]="faCog"></fa-icon></button>
</div>
<div class="row" *ngIf="displayAddForm">
  <div class="justify-content-center col-12 validation-message" *ngIf="displayMessage">
    <div class="alert alert-danger">
      <li class="" *ngFor="let message of validationMessage">
        {{message}}
      </li>
    </div>
  </div>
  <div class="container op-area">
    <div class="row add-jobs">
      <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()" class="col-12">
        <div class="row">
          <div class="form-group col-6">
            <input type="text" class="form-control" placeholder="Company Name" formControlName="companyName"/>
          </div>
          <div class="form-group col-6">
            <input type="text" class="form-control" placeholder="Job Title" formControlName="jobTitle"/>
          </div>
          <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="Job Link" formControlName="link"/>
          </div>
          <div class="form-group col-12">
            <input type="text-area" class="form-control" placeholder="Notes" formControlName="notes"/>
          </div>
          <div class="form-group col-12">
            <label class="form-label" for="jobAttachments"></label>
            <input type="file"
              formControlName="files"
              class="form-control-file"
              (change)="onFileChange($event)"
              id="jobAttachments"
              multiple/>
          </div>
          <div class="col-12">
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-outline-success col-2">Add</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row" *ngFor="let job of jobsObservable | async">
  <div class="container job-container">
    <div class="row job" (click)="job.more = !job.more">
      <h4 class="col-8">{{job.company_name}}
        <small> {{job.job_title}}</small>
      </h4>
      <small class="col-4 text-right">{{job.create_datetime | date:'MMMM d, y h:mm a'}}</small>
      <div class="more col-12" *ngIf="job.more">
        <div class="row">
          <a href="{{job.link}}" target="_blank" class="col-auto">Job posting</a>
        </div>
        <div class="row">
          <p class="col-12">Notes: {{job.notes}}</p>
        </div>
        <div class="row">
          <div class="col-12">Attachments:
            <div *ngFor="let attachment of job.attachments">
              <a class="col-auto attachment" (click)="getFile(attachment.file_path)">{{attachment.original_name}}
                <fa-icon [icon]="faFileDownload" size="xs"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <a class="remove col-auto" (click)="onClickDelete(job)">
            <fa-icon [icon]="faTimes" size="s"></fa-icon>
            Delete
          </a>
          <a class="edit col-auto" (click)="onClickEdit(job)">
            <fa-icon [icon]="faEdit" size="s"></fa-icon>
            Edit
          </a>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
