<title>Jobs | JobTrakMe</title>
<app-edit *ngIf="displayEdit"
  [(displayEdit)]="displayEdit"
  [jobsArray]="jobsArray"
  (jobsArrayUpdate)="onObservableUpdate($event)"
  [job]="jobToEdit"
  [user]="user">
</app-edit>
<app-jobtype-settings *ngIf="displaySettings"
  [(displaySettings)]="displaySettings"
  [jobsArray]="jobsArray"
  (jobsArrayUpdate)="onObservableUpdate($event)"
  [user]="user">
</app-jobtype-settings>
<div class="action-row row align-items-end">
  <div class="dropdown col-12 col-sm-auto mr-auto">
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{jobTypeMap[jobType].title}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" *ngFor="let jobtype of jobTypeArr" href="manage/{{user.user_id}}#{{jobtype}}">
        {{jobtype}}
        <span class="badge badge-secondary">{{jobTypeCounts[jobType]}}</span>
      </a>
    </div>
  </div>
  <div class="action-buttons col-12 col-sm-auto text-right">
    <button *ngIf="jobType !== 5" class="col-auto btn btn-sm btn-outline-success" style="margin-right: 0.15rem;" (click)="toggleAddForm()">
      <fa-icon class="add-btn-icon" [icon]="faPlus"></fa-icon>
    </button>
    <button class="col-auto btn btn-sm btn-outline-info" (click)="toggleSettings()"><fa-icon [icon]="faCog"></fa-icon></button>
  </div>
</div>
<div class="row">
  <div class="justify-content-center col-12 validation-message" *ngIf="displayMessage">
    <div class="alert alert-danger">false
      <li class="" *ngFor="let message of validationMessage">
        {{message}}
      </li>
    </div>
  </div>
  <div class="justify-content-center col-12 detached-alert fixed-bottom">
    <a class="alert alert-danger row justify-content-between" *ngIf="displayDeleteFailureMessage" (click)="displayDeleteFailureMessage=!displayDeleteFailureMessage">
      <span class="col-auto">Failed to delete job. Please retry.</span>
      <fa-icon class="col-auto" [icon]="faTimes" size="xs"></fa-icon>
    </a>
    <a class="alert alert-success row justify-content-between" *ngIf="displayDeleteSuccessMessage" (click)="displayDeleteSuccessMessage=!displayDeleteSuccessMessage">
      <span class="col-auto">Deleted job successfully.</span>
      <fa-icon class="col-auto" [icon]="faTimes" size="xs"></fa-icon>
    </a>
  </div>
  <div class="col-12 op-area" *ngIf="displayAddForm">
    <div class="row add-jobs">
      <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()" class="" style="width: 100%;">
        <small class="heading">Job</small>
        <div class="col-12">
          <div class="row">
            <div class="form-group col-12 col-sm-6">
              <input type="text" class="form-control" placeholder="Company Name" formControlName="companyName"/>
            </div>
            <div class="form-group col-12 col-sm-6">
              <input type="text" class="form-control" placeholder="Job Title" formControlName="jobTitle"/>
            </div>
            <div class="form-group col-12">
              <input type="text" class="form-control" placeholder="Job Link" formControlName="link"/>
            </div>
            <div class="form-group col-12">
              <input type="text-area" class="form-control" placeholder="Notes" formControlName="notes"/>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <small class="heading">Contacts</small>
          <a class="btn btn-sm btn-success" style="border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); line-height: 0.75; margin: 0.25rem; margin-left: 0.5rem; color: #FFFFFF;" (click)="addPocForm()">+ Add Contact</a>
        </div>
        <div class="row poc-area" style="margin-left: 0; margin-right: 0;">
          <div class="col-12" formArrayName="pocs" *ngFor="let poc of addForm.get('pocs').controls; let i = index;">
            <small>Contact {{i + 1}}</small>
            <div class="row poc-form-group" [formGroupName]="i">
              <div class="form-group col-12 col-sm-6">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
              </div>
              <div class="form-group col-12 col-sm-6">
                <input type="text" class="form-control" formControlName="title" placeholder="Job Title">
              </div>
              <div class="form-group col-12 col-sm-6">
                <input type="text" class="form-control" formControlName="email" placeholder="E-mail">
              </div>
              <div class="form-group col-12 col-sm-6">
                <input type="text" class="form-control" formControlName="phone" placeholder="Phone Number">
              </div>
              <div class="form-group col-12">
                <input type="text" class="col-12 form-control" formControlName="notes" placeholder="Notes">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <small class="heading">Attachments</small>
        <div class="form-group col-12">
          <label class="form-label btn-sm btn-warning" for="jobAttachments">
            <fa-icon [icon]="faCloudUploadAlt" style="padding-right: 0.4rem;"></fa-icon>Upload Attachment
          </label>
          <input type="file"
            formControlName="files"
            class="form-control-file"
            (change)="onFileChange($event)"
            id="jobAttachments"
            multiple/>
        </div>
        <div class="col-12">
          <div class="row justify-content-end">
            <button type="submit" class="btn btn-outline-success col-4 col-sm-2">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row" *ngFor="let job of jobsObservable | async; let i = index;">
  <div class="container job-container">
    <div class="row job paper-card" (click)="job.more = !job.more">
      <h4 class="col-8">{{job.company_name}}
        <small> {{job.job_title}}</small>
      </h4>
      <small class="col-4 text-right">{{job.create_datetime | date:'MMMM d, y h:mm a'}}</small>
      <div class="more col-12" *ngIf="job.more">
        <div class="row">
          <a href="{{job.link}}" target="_blank" class="col-auto">Job posting</a>
        </div>
        <div class="row">
          <p class="col-12">Notes: {{job.notes}}</p>
        </div>
        <div class="row">
          <div class="col-12">Attachments:
            <div *ngFor="let attachment of job.attachments">
              <a class="col-auto attachment" (click)="getFile(attachment.file_path, attachment.original_name)">{{attachment.original_name}}
                <fa-icon [icon]="faFileDownload" size="xs"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">Contacts:
            <div *ngFor="let contact of job.contacts" class="row contact">
              <span class="col-6 col-sm-2">{{contact.name}}</span>
              <span class="col-6 col-sm-2">{{contact.job_title}}</span>
              <span class="col-12 col-sm-2">{{contact.email}}</span>
              <span class="col-12 col-sm-2">{{contact.phone_number}}</span>
              <span class="col-12 col-sm-2">{{contact.notes}}</span>
              <hr>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <a class="remove col-12 col-sm-auto text-center" (click)="onClickMove(5, job.jobs_id)">
            Archive
          </a>
          <a class="move col-12 col-sm-auto text-center" *ngIf="jobType === 2" (click)="onClickMove(1, job.jobs_id)">
            Move To Opportunities
          </a>
          <a class="move col-12 col-sm-auto text-center" *ngIf="jobType === 1 || jobType === 3" (click)="onClickMove(2, job.jobs_id)">
            Move To Applied
          </a>
          <a class="move col-12 col-sm-auto text-center" *ngIf="jobType === 2 || jobType === 4" (click)="onClickMove(3, job.jobs_id)">
            Move To Interviews
          </a>
          <a class="move col-12 col-sm-auto text-center" *ngIf="jobType === 3" (click)="onClickMove(4, job.jobs_id)">
            Move To Offers
          </a>
          <a class="remove col-4 col-sm-auto text-center" (click)="onClickDelete(job)">
            <fa-icon [icon]="faTimes" size="s"></fa-icon>
            Delete
          </a>
          <a class="edit col-4 offset-4 offset-sm-0 col-sm-auto text-center" (click)="onClickEdit(i)">
            <fa-icon [icon]="faEdit" size="s"></fa-icon>
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row description">
  <p class="col-12 text-center">{{jobTypeMap[jobType].description}}</p>
</div>
