/* You can add global styles to this file, and also import other style files */
.btn {
  border-radius: 0;
}

a {
  cursor: pointer;
}

.form-control {
  border-radius: 0;
}

.op-area {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0.25rem;
}

.form-group {
  margin-bottom: 0.25rem;
}

.add-opportunity {
  margin-bottom: 0.25rem;
}

.job-container {
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.05); */
}

.job {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FFFFFF;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0;
  margin-left: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.more {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.more > .row {
  margin: 0;
}

.more > .row > p {
  margin-bottom: 0;
}

.validation-message {
  padding: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.validation-message > .alert {
  border-radius: 0;
  padding: 0.25rem 1.25rem;
  border: none;
  margin: 0;
}
