::placeholder {
  color: #FFFFFF;
  opacity: 0.65;
}

.about-link {
  color: #FFFFFF!important;
  margin-top: 1rem;
  font-size: 150%;
}

.svg-back {
  position: fixed;
  z-index: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.outer {
  margin: 0;
}

.logo-title {
  color: #FFFFFF;
  font-family: 'adamas-regular';
  /* transform: translateY(22%); */
  margin-top: 10%;
  display: block;
}

.action-area {
  top: 25%;
  width: 100%;
  margin-top: 0;
}

.outer {
  height: 100%;
}

.form-control {
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 0;
  background-color: transparent;
  color: #FFFFFF;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-control:focus {
  box-shadow: -0.2rem 0 0 0 rgba(0,255,0,.25)
  
}

form > .form-group {
  margin-left: 0;
  margin-right: 0;
}

.home-title {
  color: #FFFFFF;
  margin-top: 2rem;
}

.btn {
  border-radius: 0;
}

@media (max-width: 576px) {
  .home-buttons>div {
    padding: 0.25em;
  }

  #logoTitle {
    font-size: 500%;
  }

  .logo-title {
    position: fixed;
    bottom: 0%;
    left: 0%;
  }

  .action-area {
    margin-top: 40%;
  }

  .svg-back {
    display: none;
  }
}

/*sm*/
@media (min-width: 576px) {
  .home-buttons>div {
    padding: 0.25em;
  }

  #logoTitle {
    font-size: 500%;
  }

  .logo-title {
    position: fixed;
    bottom: 0%;
    left: 0%;
  }

  .action-area {
    margin-top: 40%;
  }
}

/*md*/
@media (min-width: 768px) {
  #logoTitle {
    font-size: 1000%;
  }

  .logo-title {
    margin-top: 22%;
    position: relative;
  }

  .action-area {
    margin-top: 0%;
  }
}

/*lg*/
@media (min-width: 992px) {
  #logoTitle {
    font-size: 1000%;
  }

  .logo-title {
    margin-top: 15%;
    position: relative;
  }
}

/*xlg*/
@media (min-width: 1200px) {
  #logoTitle {
    font-size: 1250%;
  }

  .logo-title {
    margin-top: 10%;
    position: relative;
  }
}
