.action-area {
  background-color: rgb(54, 73, 78, 0.65);
  /*border-radius: 0.25em;*/
  /*width: 50%;*/
  height: 100%
}

.home-title {
  color: #FFFFFF;
}
/*
.cutoff {
  position: fixed;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: #36494E;
  z-index: -1;
}*/

@media (max-width: 576px) {
  .home {
    width: 100%;
    /*padding: 0;*/
  }

  .home-buttons>div {
    padding: 0.25em;
  }

  .action-area {
    width: 100%;
  }
}

/*sm*/
@media (min-width: 576px) {
  .home {
    height: 100%;
  }

  .home-buttons>div {
    padding: 0.25em;
  }

  .action-area {
    width: 50%;
  }
}

/*md*/
@media (min-width: 768px) {

}

/*lg*/
@media (min-width: 992px) {

}

/*xlg*/
@media (min-width: 1200px) { }
