<!-- <div id="triangle" class="triangle"></div> -->
<!-- <img id="img-1" class="img-1 img-fluid" src="../../assets/mountains.jpg"> -->
  <!-- <img id="triangle-img-2" class="triangle-img-2" src="../../assets/rural.jpg"> -->
<!-- <div id="triangle2" class="triangle2"></div> -->
<title>Home | JobTrakMe</title>
<div class="cutoff"></div>
<div class="container-fluid home d-flex align-items-center">
  <div class="row col-12 outer">
    <div class="align-items-center description-area-sm justify-content-center col-12 col-md-6">
      <div class="container-fluid col-12">
        <h1 id="logoTitle" class="logo-title">J</h1>
      </div>
      <!-- <img id="logo" class="" src="../../assets/logo-3.png"> -->
    </div>
    <div class="align-items-center action-area col-12 col-md-6">
      <div class="container-fluid col-12 home-title">
        <div class="row justify-content-center">
          <h1>Sign Up</h1>
        </div>
      </div>
      <div *ngIf="displayMessage" class="alert alert-danger col-12">
        <li *ngFor="let message of validationMessage">
          {{message}}
        </li>
      </div>
      <div class="container-fluid col-12 home-buttons">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input id="email" type="text" class="form-control" placeholder="E-mail" formControlName="email">
          </div>
          <div class="form-group">
            <input id="passwordInput" type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div class="form-group">
            <input id="rePasswordInput" type="password" class="form-control" placeholder="Re-enter Password" formControlName="rePassword">
          </div>
          <div class="row">
            <div class="form-group col-12 col-sm-6">
              <input id="firstNameInput" type="text" class="form-control" placeholder="First Name" formControlName="firstName">
            </div>
            <div class="form-group col-12 col-sm-6">
              <input id="lastNameInput" type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
            </div>
          </div>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-light col-12 col-md-8">Sign Up</button>
          </div>
          <hr style="background-color: #FFFFFF;">
          <div class="row justify-content-center" style="padding-bottom: 1rem;">
            <button routerLink="/login" class="btn btn-outline-light col-12 col-md-8">Login</button>
          </div>
          <div class="row justify-content-center">
            <button routerLink="/" class="btn btn-outline-light col-12 col-md-8">Demo</button>
          </div>
        </form>
      </div>
    </div>
    <div class="align-items-center description-area-md justify-content-center col-12 col-md-6">
      <div class="col-12">
        <h1 id="logoTitle" class="logo-title">J</h1>
      </div>
      <div class="info">
        <div class="row">
          <fa-icon class="offset-3 col-2" [icon]="faLayerGroup" size="2x"></fa-icon>
          <h4 class="col-6">Track your job applications.</h4>
        </div>
        <div class="row">
          <fa-icon class="offset-3 col-2" [icon]="faUserTie" size="2x"></fa-icon>
          <h4 class="col-6">Track your job interviews.</h4>
        </div>
        <div class="row">
          <fa-icon class="offset-3 col-2" [icon]="faSmileBeam" size="2x"></fa-icon>
          <h4 class="col-6">Track your life.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
