<!-- <div id="triangle" class="triangle"></div> -->
<img id="triangle-img-1" class="triangle-img-1" src="../../assets/city.jpg">
<img id="triangle-img-2" class="triangle-img-2" src="../../assets/rural.jpg">
<!-- <div id="triangle2" class="triangle2"></div> -->
<div class="d-flex p-2 justify-content-center align-items-center home">
  <div class="container-fluid">
    <div class="row align-items-center action-area">
      <div class="container-fluid col-12 home-title">
        <div class="row justify-content-center">
          <h1>Jobtrakr</h1>
        </div>
      </div>
      <div class="container-fluid col-12 home-buttons">
        <div class="row justify-content-center">
          <button routerLink="/login" class="btn btn-outline-dark col-12 col-sm-10">Login</button>
        </div>
        <div class="row justify-content-center">
          <button routerLink="/signup" class="btn btn-outline-dark col-12 col-sm-10">Sign Up</button>
        </div>
        <div class="row justify-content-center">
          <button routerLink="/" class="btn btn-outline-dark col-12 col-sm-10">Demo</button>
        </div>
      </div>
    </div>
  </div>
</div>
