<div class="d-flex p-2 justify-content-center align-items-center home">
  <div class="container">
    <div class="row justify-content-center">
      <h1>Jobtrakr</h1>
    </div>
    <hr style="margin-top: 0;">
    <div class="row justify-content-center" style="padding-bottom: 0.5em;">
      <button routerLink="/login" class="btn btn-outline-dark col-6">Login</button>
    </div>
    <div class="row justify-content-center">
      <button routerLink="/signup" class="btn btn-outline-dark col-6">Sign Up</button>
    </div>
    <hr>
    <div class="row justify-content-center">
      <button routerLink="/" class="btn btn-outline-dark col-6">Demo</button>
    </div>
  </div>
</div>
