.title {
  /* color: #FFFFFF; */
  /* font-family: 'monospace'; */
  /* text-align: center; */
  /* margin-top: 1rem; */
  /* border-bottom: 1px solid #000000; */
}

.nav-row {
  /* border-bottom: 1px solid #000000; */
  border-bottom: 0.15rem solid;
  border-image: repeating-linear-gradient(to right, orange, yellow, green, cyan, blue, violet) 60;
  margin-bottom: 0.5rem;
}

.navbar {
  padding: 0;
}

.nav-link:hover {
  cursor: pointer;
  font-weight: bold;
}

a {
  color: #000000;
}

/*xs*/
@media (max-width: 576px) {
  #navHeaderbar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 125%;
  }

  .name {
    margin-right: 0;
    padding-left: 0.5rem;
  }
}

/*sm*/
@media (min-width: 576px) {
}

/*md*/
@media (min-width: 768px) {
}

/*lg*/
@media (min-width: 992px) {

}

/*xlg*/
@media (min-width: 1200px) { }
