<nav class="row sticky-top navbar nav-row navbar-expand-lg text-right">
  <a class="navbar-brand name" (click)="navbarBrandClick()">
    <img [src]="signedProfileImageUrl" class="profile-image" width="25" height="25">
    {{name}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHeaderbar" aria-controls="navHeaderbar" aria-expanded="false" aria-label="Toggle navigation">
    <fa-icon class="" [icon]="faBars" size="lg"></fa-icon>
  </button>
  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navHeaderbar">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" (click)="manageClick()">Jobs</a>
      <a class="nav-item nav-link" (click)="settingsClick()">Settings</a>
      <a class="nav-item nav-link" (click)="logoutClick()" style="color: red">Logout</a>
    </div>
  </div>
</nav>
